# Database
# Local (host) Postgres
DATABASE_URL="prisma+postgresql://username:password@localhost:5432/snowshare"
# Docker Compose (uncomment to use inside containers)
# DATABASE_URL="postgresql://postgres:postgres@db:5432/snowshare"

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# Auth

ALLOW_SIGNUP=true
NODE_ENV=development